<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Squad 17</title>
</head>

<link href="{url_prefix}themes/admin/css/main.css" type="text/css" rel="stylesheet">
<link href="{url_prefix}themes/admin/css/admin.css" type="text/css" rel="stylesheet">
<link href="{url_prefix}themes/admin/css/modules.css" type="text/css" rel="stylesheet">

<body>
<table class="m_body" id="m_body">
<tr><td colspan="2">
	<h1>HEADER</h1>
	<table class="login-wrapper">
	<tr><td class="no-border left">
		<div class="user-info-short">
			{User:info_short}
		</div>
	</td><td class="no-border right">
		<div class="user-login-link">
			{User:login_link}
		</div>
	</td></tr>
	</table>
</td></tr>
<tr>
	<td class="l_menu">
		<ul>
			<li><a href="{url_prefix}">HOME</a></li>
			<li><a href="{url_prefix}admin/">Admin</a></li>
		</ul>
	</td>
	<td class="m_body">{ContentPage:body}</td>
</tr>
<tr><td colspan="2"><h5>FOOTER</h5></td></tr>
</table>
</body>
</html>
