/* ADMIN styles */

table.admin-contentpage {
	border-collapse:collapse;
}

table.admin-contentpage td {
	border-width:0.01em;
	border-color:#F0F0F0;
	border-style:solid;
	text-align:center;
	padding:3px;
}

table.admin-contentpage th {
	border-color:#B8B8B8;
	background-color:#EDEDED;
	font-weight:bold;
	padding:5px;
}

table.admin-error {
	padding:5px;
	border:1px solid #DD7777;
	background-color:#FFCCCC;
	color:#EE5555;
	width:100%;
}

table.admin-error td {
	border:0;
	text-align:left;
}

dl.admin-dlist dt,dd {
	padding:5px;
}

div.admin-module textarea {
	width: 600px;
	height: 400px;
	border: 1px solid #CCCCCC;
	padding: 3px;
}


