/* ADMIN styles */

table.admin-contentpage {
	border-collapse:collapse;
}

table.admin-contentpage td {
	border-width:0.01em;
	border-color:#F0F0F0;
	border-style:solid;
	text-align:center;
	padding:3px;
}

table.admin-contentpage th {
	border-color:#B8B8B8;
	background-color:#EDEDED;
	font-weight:bold;
	padding:5px;
}

table.admin-error {
	padding:2px;
	margin:10px 0px 5px 0px;;
	border:1px solid #DD7777;
	background-color:#FFCCCC;
	color:#EE5555;
	width:100%;
}

table.admin-error td {
	border:0;
	text-align:left;
}

table.admin-message {
	padding:2px;
	margin:5px 0px 15px 0px;
	border:1px solid #575757;
	background-color:#EAEAEA;
	color:#6C6C6C;
	width:100%;
}

table.admin-message td {
	border:0;
	text-align:left;
}

table.configpage-add-new td {
	border:0;
	text-align:left;
}

dl.admin-dlist dt,dd {
	padding:5px;
}

div.admin-module textarea {
	width:600px;
	height:400px;
	color:#575757;
	padding:3px;
}

div.admin-module textarea.small {
	height:200px;
}

div.admin-module input.input-submit {
	border:1px solid #C0C0C0;
	background-color:#EAEAEA;
	color:#575757;
	padding:1px;
	font-size:12px;
	width:100px;
}

div.admin-module input.input-text {
	color:#575757;
	padding:2px;
	width:300px;
}

div.admin-module .no-error {
	border:1px solid #C0C0C0;
}

div.admin-module .error {
	border:1px solid #DD7777;
}



