<table>
<tr>
	<td>
		<a href="{url_prefix}admin/modules/ContentPage/?config=add">Add new</a>
	</td>
</tr>
</table>

<form name="add-new" method="post" action="{url_prefix}admin/modules/ContentPage/?config=add&action=save">
<input type="hidden" name="save" value="true" />
<table>
<tr><td>Page alias (Optional):</td></tr>
<tr><td><input type="text" name="alias" /></td></tr>
<tr><td>Page name (Optional):</td></tr>
<tr><td><input type="text" name="page-name" /></td></tr>
<tr><td>Page Template:</td></tr>
<tr><td><textarea name="template" rows="10" cols="20"></textarea></td></tr>
<tr><td><input type="submit" value="Save" /></td></tr>
</table>
</form>