<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Squad 17</title>
</head>

<link href="{url_prefix}themes/default/css/main.css" type="text/css" rel="stylesheet">
<script src="{url_prefix}scripts/load_page_r.js"></script>

<body>
	<table id="m_body" align="center" border="0" cellspacing="5">
		<tr valign="top">
			<td>
				<table id="left_t">
					<tr><td>
						<ul id="menu_r">
							<li><a href="">HOME</a></li>
							<li><a href="javascript:loadPage('research');">Research</a></li>
							<li><a href="javascript:loadPage('projects');">Projects</a></li>
							<li><a href="javascript:loadPage('profiles');">Profiles</a></li>
							<li><a href="javascript:loadPage('concepts');">Concepts</a></li>
							<li><a href="http://forumz.squad17.com">Forum</a></li>
							<li><a href="http://www.squad17.org/">Squad17.org</a></li>
							<li><a href="">Contact us</a></li>
							<li><a href="{url_prefix}admin/">Admin</a></li>
							<li id="menu_r_end">&nbsp;</li>
						</ul>
					</td></tr>
				</table>
			</td>
			<td>
				<table id="right_t">
					<tr valign="top"><td height="110"><img align="right" src="{url_prefix}images/logo_jpg_medium.jpg" height="100" width="187"></td>
					</tr>
					<tr style="background-color:#EFEFEF;"><td></td></tr>
					<tr><td id="ajax_page" valign="top" height="480">
						{ContentPage:menu}
					</td></tr>
			  </table>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<table id="footer_t"><tr><td>
				<br />
				www.squad17.com <br />
				Wed, 05 Nov 2008 (EST) <br/ ><br />
				</td></tr></table>
			</td>
		</tr>
	</table>
</body>
</html>
